@import "bourbon";


$main_color : #061928;
$second_color: #db1426;

$main_font: 'MyriadPro-Regular', sans-serif;
$Myriad_bold: 'MyriadPro-Bold', sans-serif;

$Uni_bold: "Uni-Sans-Bold", sans-serif;
$Uni_semi: "UniSansSemiBold", sans-serif;

$Roboto: 'Roboto', sans-serif;
$Roboto_bold: 'Roboto_bold', sans-serif;

$Bebas: 'BebasNeueBold', sans-serif;