@import "bourbon";


$main_color : #061928;
$second_color: #db1426;

$Bebas: 'BebasNeueBold', sans-serif;
$Bold: 'Roboto Condensed-Bold', sans-serif;
$Regular: 'Roboto Condensed-Regular', sans-serif;
$Light: 'Roboto Condensed-Light', sans-serif;