@import "bourbon";
@import "vars.scss";

body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	font: 19px $Regular;
  color: $main_color;
	background-color: #fff;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	width: 0;
	height: 0;
}

h2, h3{
	font: 50px/54px $Bebas;
	letter-spacing: .02em;
	text-transform: uppercase;
}

.h2_desc{
	font: 21px $Light;
}

.title{
	font: 21px $Bold;
}

.btn{
	position: relative;
	z-index: 1;
	display: block;
	width: 381px;
	height: 86px;
	background: url(img/btn-bg.png) center no-repeat;
	color: #fff;
	font: 18px $Bebas;
	text-align: center;
	letter-spacing: .16em;
	transition: 0s;
	span{
		position: relative;
		z-index: 3;
	}
}

a.btn{padding-top: 28px;}

a.btn:hover{
	padding-top: 31px;
	background: url(img/btn-hover.png) center no-repeat;
}

button:hover{
	span{margin-bottom: 1px;}
	background: url(img/btn-hover.png) center no-repeat;
}

button span {
	display: inline-block;
	margin-bottom: 4px;
}

header{
  background: url(img/header-bg.png) top center no-repeat;
  padding: 24px 0 15px;
  width: 100%;
  height: 137px;
  z-index: 10;
  transition: all 0.6s;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  .logo{
    float: left;
    margin-right: 35px;
  }
  .phones{
    position: relative;
    float: right;
    line-height: 36px;
    .phone{
      display: inline-block;
      width: 25px;
      height: 32px;
      transition: 0.5s;
      img{margin-bottom: -3px;}
    }
    .phone:hover{
      transform: scale(1.2);
    }
  }

  a{
    color: $main_color;
    font-size: 18px;
  }
  a:hover{
    color: $second_color;
  }
  .nav{
    float: left;
    li{
      display: inline-block;
      margin: 5px;
    }
    li+li{margin-left: 20px;}
  }
}

header.scrolled{
  padding: 10px 0 15px;
  height: 65px;
  background-size: 100% 100%;
}

#sec_01{
  padding: 80px 0 110px;
  margin-top: 79px;
  background: url(img/sec_01-bg.jpg) top center no-repeat;
  color: #fff;
  h1{
    margin-top: -40px;
  	padding: 162px 0 5px 0;
		font: 58px/61px $Bebas;
		text-transform: uppercase;
		letter-spacing: .02em;
		background: url(img/h1-bg.png) top center no-repeat;
		span{color: $main_color;}
	}
  .afterheader{
    font: 24px/32px $Bebas;
    margin-top: 20px;
    letter-spacing: 0.05em;
  }
	.btn{
		position: relative;
		margin: 40px auto 0;
	}
	.btn:before{
		position: absolute;
		content: '';
		width: 90px;
		height: 45px;
		left: -110px;
		top: 20px;
		background: url(img/hand.png) center no-repeat;
	}
}

#sec_02{
	padding: 25px 0 105px;
	text-align: center;
	.block_text{
		display: inline-block;
		text-align: left;
		vertical-align: top;
		.title{margin-bottom: 20px;}
	}
	.first_row{
		.block_text{margin-top: 45px;}
		img{margin-right: 80px}
	}
	.second_row{
		padding-top: 55px;
		.block_text{
			margin-top: 75px;
			padding-left: 65px;
		}
		img{margin-left: 80px;	}
	}
	.third_row{
		margin-top: 25px;
		.block_text{margin-top: 75px;}
		img{margin-right: 80px}
	}
}