body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  background-color: #fff; }

a, button, input, textarea, i {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus, i:focus {
    outline: 0;
    border: 0; }

input, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  resize: none; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.wrapper {
  width: 1140px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }

header {
  padding-top: 50px;
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-position: center 140px;
  text-align: center;
  padding-bottom: 180px; }
  header .top {
    overflow: hidden; }
    header .top img {
      float: left;
      display: block; }
    header .top .right {
      float: right; }
      header .top .right a {
        color: #061928;
        font-family: "RobotoCondensedRegular";
        font-size: 18px;
        font-weight: 400;
        display: inline-block; }
        header .top .right a i {
          color: #061928;
          font-size: 21px;
          margin-right: 5px;
          display: inline-block; }
        header .top .right a:hover {
          color: #db1426; }
          header .top .right a:hover i {
            color: #db1426; }
        header .top .right a:first-child {
          padding-top: 5px; }
  header h1 {
    color: #061928;
    font-family: "BebasNeueBold";
    font-size: 55px;
    font-weight: 400;
    line-height: 59px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background-image: url(../img/header/bg_h.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    min-width: 741px;
    min-height: 152px;
    margin-top: 263px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 18px;
    letter-spacing: 0.02em; }
  header h2 {
    color: white;
    font-family: "RobotoCondensedLight";
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-top: 9px;
    letter-spacing: 0.02em;
    max-width: 800px; }
  header .bg_bottom {
    display: block;
    position: absolute;
    bottom: 0; }
